DJANGO_DEBUG=0
DJANGO_SECRET_KEY=change-me-with-a-long-random-secret
DJANGO_ALLOWED_HOSTS=stream.bisofood.com,72.60.66.248
DJANGO_CSRF_TRUSTED_ORIGINS=https://stream.bisofood.com,http://stream.bisofood.com
CORS_ALLOWED_ORIGINS=https://stream.bisofood.com,http://stream.bisofood.com
DJANGO_TIME_ZONE=Africa/Kinshasa
DJANGO_STATIC_ROOT=/srv/streaming-dev/backend/staticfiles
DAPHNE_HOST=127.0.0.1
DAPHNE_PORT=18001
# Recommended if Redis is installed:
# CHANNEL_REDIS_URL=redis://127.0.0.1:6379/5
