listening-port=3478

listening-ip=0.0.0.0
external-ip=__PUBLIC_IP__

min-port=49160
max-port=49200

fingerprint
lt-cred-mech
realm=__DOMAIN__
server-name=__DOMAIN__
user=__TURN_USER__:__TURN_PASSWORD__

no-cli
no-multicast-peers
stale-nonce
